env/
env_py312/
Orbit_Predictor-BackEnd/.env
Orbit_Predictor-BackEnd/db.sqlite3
node_modules

.env
check_active_satellites.py
install_matlab_engine.py
# Python bytecode
__pycache__/
*.py[cod]

# Virtualenvs
.venv/
venv/
py312_venv/
staticfiles/
*.pkl
Orbit_Predictor-BackEnd/.env.postgres
